@import "fonts.scss";

//Variables Sass
$primary-color: #2A41E8;
$secundary-color: #FF5E14;
$font-primary: "Rubik";
$font-secundary: #FFFFFF;
$font-size: 16px;
$color-font-primary: #4B4D4F;
$font-size-links: 14px;
$color-label: #9B9B9B;

